*{
  font-family: 'Playfair Display', serif;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #000080 ;
}

nav .nav-links {
  clear: both;
  height: 0;
  overflow: hidden;
  -webkit-transition: all .6s cubic-bezier(0.1, 0.2, 0.4, 0.2);
  -moz-transition: all .6s cubic-bezier(0.1, 0.2, 0.4, 0.2);
  -ms-transition: all .6s cubic-bezier(0.1, 0.2, 0.4, 0.2);
  -o-transition: all .6s cubic-bezier(0.1, 0.2, 0.4, 0.2);
  transition: all .6s cubic-bezier(0.1, 0.2, 0.4, 0.2);
}

nav .nav-links a {
  font-size: 1.3em;
  font-weight: 900;
  letter-spacing: .1em;
  display: block;
  padding: 30px 35px;
  text-decoration: none;
  color:white;
  text-align: center;
  transition: color .4s ease;
  -webkit-tap-highlight-color: transparent;
}



nav .hamburger-button {
  width: 50px;
  display: block;
  margin: 20px;
  float: right;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.hamburger-line {
  width: 45px;
  height: 4px;
  display: block;
  background: rgba(255, 255, 255, 1);
  margin: 8px auto;
  border-radius: 5px;
  -webkit-transition: all .4s cubic-bezier(0.1, 0.2, 0.4, 0.2);
  -moz-transition: all .4s cubic-bezier(0.1, 0.2, 0.4, 0.2);
  -ms-transition: all .4s cubic-bezier(0.1, 0.2, 0.4, 0.2);
  -o-transition: all .4s cubic-bezier(0.1, 0.2, 0.4, 0.2);
  transition: all .4s cubic-bezier(0.1, 0.2, 0.4, 0.2);
}

nav #hamburger-check {
  display: none;
}

nav #hamburger-check:checked~.nav-links {
  height: 100vh;
}

nav #hamburger-check:checked~.hamburger-button .top {
  -webkit-transform: translateY(12px) rotateZ(45deg);
  -moz-transform: translateY(12px) rotateZ(45deg);
  -ms-transform: translateY(12px) rotateZ(45deg);
  -o-transform: translateY(12px) rotateZ(45deg);
  transform: translateY(12px) rotateZ(45deg);
}

nav #hamburger-check:checked~.hamburger-button .middle {
  width: 0;
}

nav #hamburger-check:checked~.hamburger-button .bottom {
  -webkit-transform: translateY(-12px) rotateZ(-45deg);
  -moz-transform: translateY(-12px) rotateZ(-45deg);
  -ms-transform: translateY(-12px) rotateZ(-45deg);
  -o-transform: translateY(-12px) rotateZ(-45deg);
  transform: translateY(-12px) rotateZ(-45deg);
}

@media (min-width: 48em)
/* 48em = 768px */

  {
  nav .nav-links {
    clear: none;
    float: right;
    height: auto;
  }
  nav .nav-links a {
    display: inline-block;
  }
  nav .nav-links a:hover {
    color: gold;
  }
  nav .hamburger-button {
    display: none;
  }
}

.main-container {
  text-align: center;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}

#title {
  padding-top: 30px;
}

#about h1 {
  font-size: 62px;
  margin-bottom: 20px;
}

#technologies-title h1 {
  font-size: 31px;
}

#footer {
  width: 100%;
  height: 150px;
  background-color: #000080;
}

#main-logo {
  display: inline-block;
  width: 320px;
  height: 320px;
}

#main-logo img {
  width: 100%;
  height: 100%;
  margin-top:100px;
}

#about {
  font-size: 24px;
  margin-top:100px;
}

#about p1 {
  display: block;
}

#technologies-container {
  margin-top: 50px;
  width: 95%;
  display: inline-block;
 
}

#html_logo {
  grid-area: 'html_logo';
}

#css_logo {
  grid-area: 'css_grid';
}

#javascript_logo {
  grid-area: 'javascript_logo';
}

#jquery_logo {
  grid-area: 'jquery_logo';
}

#react_logo {
  grid-area: 'react_logo';
}

#bootstrap_logo {
  grid-area: 'boostrap_logo';
}

#technologies-grid {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-areas: 'html_logo css_logo javascript_logo jquery_logo react_logo bootstrap_logo';
  gap:10px;
  text-align: center;
  grid-template-columns: 160px 160px 160px 160px 160px 160px;
  grid-template-rows: 160px;
  background-color:blue;
}


@media (max-width:1072px) {
  #technologies-grid {
    grid-template-areas: 'html_logo css_logo' 'javascript_logo jquery_logo' 'react_logo bootstrap_logo';
    grid-template-columns: 160px 160px;
    grid-template-rows: 160px 160px 160px;
    justify-content: center;
    background-color: red;
    gap:10px;
  }
}


@media (max-width:680px) {
  #technologies-grid {
    grid-template-areas: 'html_logo' 'css_logo' 'javascript_logo' 'jquery_logo' 'react_logo' 'bootstrap_logo';
    grid-template-rows: 160px 160px 160px 160px 160px 160px;
    grid-template-columns: 160px;
   background-color: #000080;

  
  }
}


.technologies-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border: 2px solid;
  background-color: green;
  
}

.technologies-cell img {
  height: 90%;
  width: 90%;
  margin: auto;
}

#display-container {
  width: 250px;
  height: 100px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
}

#projects-title {
  margin-top: 50px;
}

#projects-container {
  width: 95%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#projects-title {
  height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#projects-title h1 {
  font-size: 44px;
}

#projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 384px));
  grid-auto-rows: 540px;
  grid-gap: 10px;
  width: 100%;
  justify-content: center;
}

.project-cell {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid black;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.project-photo {
  justify-self: flex-start;
  width: 100%;
  height: 70%;
}

.project-description {
  width: 100%;
  height: 30%;
  align-self: flex-end;
  background-color: #313143;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-cell:hover {
  opacity: 60%;
  transition: 1s;
}

#contact-container {
  margin-top: 150px;
  display: block;
  height: 500px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


