 /*Navbar*/

 .navbar {
   background-color:royalblue;
   height: 100px;
 }

 .nav-elm:hover {
   border-bottom: 2px solid white;
   transition: 0.7s;
   opacity: 0.7;
 }

 .nav-elm {
   padding: 10px;
   margin: 10px;
   color: gold;
   transition: 0.5s;
   height: 50px;
 }

 .main-container{
   text-align:center;
   height: 2160px;
    
 }

  #title{
    padding-top:30px;
  }

 #last-nav-elm{
   margin-right: 2%;
 }

 #footer {
   width:100%;
   height:150px;
   background-color:royalblue;
 }

 #main-logo {
  display:inline-block;
  width: 400px;
  height: 400px;
 }

 #main-logo img {
   width:100%;
   height:100%;
 }

 #about {
   margin-top:50px;
   font-size: 24px;
 }

 #about p1{
   display:block;
 }

 #technologies-grid{
   width:1080px;
   height: 170px;
   display: grid;
   grid-template-columns: 15% 15% 15% 15% 15% 15%;
   justify-content: space-between;
  background-color: #eee;
   margin-left:auto;
   margin-right: auto;
   margin-top:50px;
  border: 2px solid;
 }

 @media(max-width:1080px){
   #technologies-grid{
    width:550px;
    height: 320px;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 50% 50%;
   }
   
 }

 .technologies-cell{
    display:inline-block;
    height: 150px;
    width: 150px;
    margin:auto;
    border: 2px solid;
 }

 .technologies-cell img{
    height: 100%;
    width: 100%;
 }


 #display-container{
   margin-top:50px;
   width:250px;
   height: 100px;
   margin-left:auto;
   margin-right: auto;
   font-size: 50px;
 }

 body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

 }

 code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
 }